{% if field.fieldAnnotation %}
    {% set f = field.fieldAnnotation %}
    {% if f is instanceof('Doctrine\\ORM\\Mapping\\Column') %}
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                Type: <span class="badge badge-primary">{{ f.type }}</span>
            </li>
            {% if f.length %}
                <li class="list-group-item">
                    Max length: <span class="badge badge-primary">{{ f.length }}</span>
                </li>
            {% endif %}
            <li class="list-group-item">
                Can be nullable: <span class="badge badge-primary">
                    {% if f.nullable %} Yes {% else %} No {% endif %}
                </span>
            </li>
        </ul>
    {% endif %}
{% endif %}
